.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* custom css */

body {
  background: #fdc11b;
}

.main-background {
  background-image: url("./Assets/Backgrounds/back_02.png");
  /* width: 300vh; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 70vh
}

.main-heading {
  margin-left: 20%;
  padding-top: 15px;
}

.blink {
  animation: blinker 5s linear infinite;
  color: red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.main_wish {
  height: 25vh;
  padding-top: 3vh;
}

@media only screen and (max-width: 600px) {
  .main_wish {
    height: 10vh;
  }

  .main-heading {
    margin-left: 12%;
    padding-top: 0px;
  }
    .main-background {
      height: 30vh
    }
}